.createPetForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}
  
textarea,
input {
  border-radius: 5px;
  border: 1px solid rgb(141, 110, 99);
  padding: 10px;
  font-size: 16px;
}
  
.createPetForm button, .addVaccineRecordForm button, .addAllergyRecordForm button {
  border-radius: 5px;
  background-color: rgb(141, 110, 99);
  border: none;
  padding: 10px;
  font-size: 16px;
  color: white;
}
  
.createPetForm button:hover, .addVaccineRecordForm button:hover, .addAllergyRecordForm button:hover {
  background-color: rgb(172, 158, 153);
  cursor: pointer;
}

.addRecordForms {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.addAllergyRecordForm input, .addVaccineRecordForm input {
  margin-right: 10px;
}
  