body {
  margin: 20px;
  background-color: rgb(214, 209, 208);
}

.appContainer {
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .appContainer {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
  }
}

.petItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

caption {
  color: rgb(141, 110, 99);
}

table {
	border-collapse: collapse;
	border: 1px solid rgb(141, 110, 99);
	text-align: center;
	vertical-align: middle;
  margin: 10px;
}
